.container-box {
  background: linear-gradient(250deg, rgba(81, 165, 230, 0.8), rgba(53, 182, 163, 0.826));
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  border-radius: 10px;
  color: var(--text);
  box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.3);
}

/* Top */

.top h6 {
  font-weight: 600;
}

.temperature-box {
  display: flex;
  justify-content: space-around;
  color: var(--main-text);
}

.temperature {
  font-size: 4.2rem;
}

.temperature-logo {
  width: 80px;
  height: 80px;
  margin-left: 1rem;
}

/* Bottom */

.bottom {
  display: flex;
  flex-direction: column;
}

.date,
.location {
  display: flex;
  padding: 0rem 0 0.5rem 0;
  color: var(--sub-text);
  font-weight: 600;
}

.date-logo,
.location-logo {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .container-box {
    width: 125%;
  }

  /* Top */

  .top h6 {
    font-size: 14px;
  }

  .temperature {
    font-size: 2.6rem;
  }

  .temperature-logo {
    width: 55px;
    height: 55px;
  }

  /* Bottom */

  .date-logo,
  .location-logo {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }

  .date span,
  .location span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .container-box {
    padding: 1rem;
    width: 22rem;
  }

  /* Top */

  .top h6 {
    font-size: 10px;
  }
  .temperature {
    font-size: 3.3rem;
  }
  .temperature-box {
    display: flex;
    justify-content: space-between;
  }
  .temperature-logo {
    width: 70px;
    height: 70px;
  }

  /* Bottom */

  .date-logo,
  .location-logo {
    font-size: 1rem;
    margin-right: 0.2rem;
  }

  .date span,
  .location span {
    font-size: 12px;
  }
}
@media only screen and (max-width: 426px) {
  .container-box {
    padding: 1.5rem;
    width: 100%;
    height: fit-content;
  }

  /* Top */

  .top h6 {
    font-size: 16px;
  }

  .temperature {
    font-size: 3.6rem;
  }

  .temperature-logo {
    width: 80px;
    height: 80px;
  }

  /* Bottom */

  .date-logo,
  .location-logo {
    font-size: 1.3rem;
  }

  .date span,
  .location span {
    font-size: 15px;
  }
}

@media only screen and (max-width: 376px) {
  .container-box {
    padding: 1.5rem;
    margin-top: 0.5rem;
    width: 100%;
    height: 90%;
  }

  /* Top */

  .top h6 {
    font-size: 12px;
  }

  .temperature-logo {
    width: 70px;
    height: 70px;
  }

  .temperature {
    font-size: 3.2rem;
  }

  /* Bottom */

  .date-logo,
  .location-logo {
    font-size: 1.2rem;
  }

  .date span,
  .location span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 320px) {
  /* Top */

  .top h6 {
    font-size: 12px;
  }
  .temperature-box {
    display: flex;
    justify-content: space-between;
  }
  .temperature {
    font-size: 3rem;
  }

  .temperature-logo {
    width: 60px;
    height: 60px;
  }

  /* Bottom */

  .date-logo,
  .location-logo {
    font-size: 1rem;
  }

  .date span,
  .location span {
    font-size: 12px;
  }
}
