h6 {
  margin-bottom: 1rem;
}

.forecast-container {
  background-image: url("../assets/images/forecast.jpg");
  padding: 1rem;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.3);
}

.forecast-days {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.image-temp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-temp img {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.image-temp h5 {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  font-weight: 600;
  color: var(--main-text);
}

.forecast-days span {
  font-size: 15px;
  font-weight: 600;
  color: var(--sub-text);
}

@media (max-width: 575.98px) {
  .forecast-box {
    width: 95%;
    border-radius: 10px;
    position: absolute;
    top: 60rem;
    left: 0.5rem;
    height: 50%;
  }

  .forecast-container {
    height: 100%;
    border-radius: 10px;
    overflow-y: scroll;
  }

  .forecast-days {
    align-items: center;
  }

  .desc {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
  }

  .image-temp img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .image-temp h5 {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .forecast-days span {
    font-size: 15px;
  }
}

@media (min-width: 576px) {
  .forecast-box {
    width: 85%;
    border-radius: 10px;
    height: 100%;
  }

  .forecast-container {
    height: 52%;
    border-radius: 10px;
  }

  .forecast-days {
    align-items: center;
    padding: 0.2rem;
  }

  .desc {
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
  }

  .image-temp img {
    width: 2.3rem;
    height: 2.3rem;
    margin-bottom: 0;
  }

  .image-temp h5 {
    font-size: 0.9rem;
    margin-right: 0.5rem;
  }

  .forecast-days span {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .forecast-box {
    position: relative;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 49%;
    border-radius: 10px;
  }

  .forecast-container {
    height: 100%;
    background-position-y: 0rem;
  }

  .forecast-days {
    margin-top: 0.3rem;
  }

  .desc {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
  }

  .image-temp img {
    width: 1.8rem;
    height: 1.8rem;
  }

  .image-temp h5 {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .forecast-days {
    padding: 0.5rem;
  }

  .forecast-days span {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .forecast-box {
    width: 100%;
    height: 45%;
  }

  .forecast-container {
    height: 100%;
  }

  .forecast-days {
    margin: 0.5rem 0 0 0;
  }

  .image-temp img {
    width: 1.8rem;
    height: 1.8rem;
    margin-bottom: 0;
  }

  .image-temp h5 {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .desc {
    display: flex;
    justify-content: space-between;
    margin-left: 0.3rem;
  }

  .forecast-days span {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .forecast-box {
    width: 120%;
    height: fit-content;
  }

  .forecast-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position-y: -10rem;
  }

  .forecast-days {
    margin-top: 0rem;
  }

  .image-temp img {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0;
  }

  .image-temp h5 {
    font-size: 1.2rem;
  }

  .desc {
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
  }

  .desc span {
    font-size: 14px;
  }
}
