@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(190, 196, 204);
  color: rgb(45, 45, 45);
}

:root {
  --text: rgba(57, 57, 57, 0.915);
  --main-text: rgba(8, 8, 8, 0.9);
  --sub-text: rgba(0, 0, 0, 0.9);
  --sub-box: rgba(157, 157, 157, 0.915);
  --main-box: rgba(233, 233, 233, 0.915);
  --scrollbar-bg: rgba(57, 57, 57, 0.9);
}

::-webkit-scrollbar {
  display: none;
}
